

@font-face {
    font-family: 'balloons';
    src: url('/fonts/balloon.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: grey;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.balloon {
    display: flex;
    flex-wrap: wrap;
    width: clamp(50px, 7vw, 100px);
    aspect-ratio: 0.8;
    height: 80px;
    background: radial-gradient(circle at 50% 50%, #694285, #33283b);
    border-radius: 50% 50% 45% 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: clamp(20px, 3vw, 48px);
    font-weight: bold;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);

}

    .balloon::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 50%;
        width: 2px;
        height: 40px;
        background: #bbb;
        transform: translateX(-50%);
    }

.name-input {
    background-color: pink;
    flex-direction: column;
    width: 67dvh;
    height: 40dvh;
    padding: 15px;
    align-content: center;
    align-items: center;
    scroll-margin-left: 20px;
    scroll-margin-right: 20px;
    border: 2px dashed black;
    display: flex;
    justify-content: normal;
    margin: 20px auto;
    font-family: 'Copperplate Gothic', sans-serif;
    margin-inline: auto;
}

.go-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    color: white;
    font-family: 'Copperplate Gothic', sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-size-adjust: auto;
    width: 50%;
    height: 40%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hotpink;
    margin: 20px auto;
    height: 40px;
    width: 100px;
    font-family: 'Copperplate Gothic', sans-serif;
    cursor: pointer;
    margin-top: 10px;
    margin-inline: auto;
}
