
@font-face {
    font-family: 'balloons';
    src: url('/fonts/balloon.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: grey;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

.balloon {
    width: 60px;
    height: 80px;
    background: radial-gradient(circle at 50% 50%, #694285, #33283b);
    border-radius: 50% 50% 45% 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 200%;
    font-weight: bold;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.25);
}
    .balloon::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 50%;
        width: 2px;
        height: 40px;
        background: #bbb;
        transform: translateX(-50%);
    }

.name-input {
    background-color: pink;
    text-align: center;
    width: 67%;
    height: 40%;
    margin-left: 16.5%;
    margin-right: 16.5%;
    margin-top: 15%;
    margin-bottom: 10px;
    padding: 30px;
    border: 2px dashed black;
}

.go-button {
    background-color: hotpink;
    color: white;
    font-family: 'Copperplate Gothic' , sans-serif;
    font-size: 1.5em;
    text-align: center;
    text-size-adjust:auto;
    width: 50%;
    height: 40%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30%;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}